name: Build
on:
  release:
    types: [published]

jobs:

  build:
    name: Build image
    runs-on: ubuntu-latest
    steps:

      - name: Login to Registry
        run: |
          echo ${{ secrets.DOCKER_PASSWORD }} | \
          docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Build image
        run: |
          export IMAGE_TAG=${GITHUB_REF#refs/tags/}
          export IMAGE_TAG_MINOR=$(echo ${IMAGE_TAG} | awk '{match($0,"v[0-9].[0-9]",a)}END{print a[0]}')
          export IMAGE_TAG_MAJOR=$(echo ${IMAGE_TAG} | awk '{match($0,"v[0-9]",a)}END{print a[0]}')
          docker build \
          -t morphy/revive-action \
          -t morphy/revive-action:${IMAGE_TAG} \
          -t morphy/revive-action:${IMAGE_TAG_MINOR} \
          -t morphy/revive-action:${IMAGE_TAG_MAJOR} .

      - name: Publish image
        run: docker push --all-tags morphy/revive-action

      - name: Logout
        run: docker logout
